.Application {
    max-width: 900px;
    background: linear-gradient(106.83deg, #FFFFFF 0%, #F5F5F5 100%);
    box-shadow: 0px 32px 96px 80px rgb(0 0 0 / 3%);
    border-radius: 20px;
    padding: 40px 100px;
    margin: 0 auto;
}

.moduleOnlineForms .container .wrap .moduleOnlineForms__wrap .moduleOnlineForms--contents .moduleOnlineForms--content .moduleOnlineForms--content--item .moduleOnlineForms--content--item--wraps .secondPageRequired {
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #383837;
    -webkit-appearance: none;
    background-image: url(../images/down.png) !important;
    background-repeat: no-repeat;
    background-position: right 3% center;
    padding-right: 30px;
    max-height: 50px;
    padding: 14px 20px;
}

.moduleOnlineForms .container .wrap .moduleOnlineForms__wrap .moduleOnlineForms--contents .moduleOnlineForms--content .moduleOnlineForms--content--item .moduleOnlineForms--content--item--wraps input {
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Roboto;
    padding: 10px;
    padding-right: 30px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #1D3448;
    z-index: 2;
    position: relative;
}

.moduleOnlineForms .container .wrap .moduleOnlineForms__wrap .moduleOnlineForms--contents .moduleOnlineForms--content .moduleOnlineForms--content--item .moduleOnlineForms--content--item--wraps select {
    border-right: transparent;
    border-left: transparent;
    border-top: transparent;
    font-family: Open Sans;
    border-radius: 0;
    padding: 20px;
    padding-right: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 26px;
    color: #b1b2b2;
    font-weight: 300;
}

.moduleOnlineForms .container .wrap .moduleOnlineForms__wrap .moduleOnlineForms--contents .moduleOnlineForms--content .moduleOnlineForms--content--item .moduleOnlineForms--content--item--wraps select {
    font: 600 14px/70px "Roboto", sans-serif;
    color: #b1b2b2;
    padding-left: 20px;
    border-radius: 4px;
    border: 2px solid #e6e7e8;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    width: 100%;
    height: 70px;
}

.moduleOnlineForms .container .wrap .moduleOnlineForms__wrap .moduleOnlineForms--contents .moduleOnlineForms--content .moduleOnlineForms--content--item.btns .moduleOnlineForms--content--item--wraps .new-send-btn {
    background: #D52023;
    border-radius: 4px;
    border: 1px solid red;
    padding: 15px 90px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    transition: 0.6s all;
}

.moduleOnlineForms .container .wrap .moduleOnlineForms__wrap .moduleOnlineForms--contents .moduleOnlineForms--content .moduleOnlineForms--content--item.btns .moduleOnlineForms--content--item--wraps .btn {
    display: inline-block;
    padding: 20px 50px;
    border-radius: 6px;
    background-color: #ffffff;
    border: 2px solid #003E64;
    font: 700 16px/16px "Roboto", sans-serif;
    text-transform: uppercase;
    color: #003E64;
    text-decoration: none;
    -webkit-transition: background-color 200ms ease 0s;
    transition: background-color 200ms ease 0s;
}

label.placeholder.required,
input.page.required {
    display: flex;
    flex-direction: column;
}